* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.2;
  background-color: #344a72;
}

.formWrap {
  background-color: #f4f4f4;
  padding: 1rem;
}

.btn {
  display: block;
  width: 100%;
  background: #49c1a2;
  color: #fff;
  font-size: 18px;
  padding: 1rem 2rem;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.btn:hover {
  background: #37a08e;
}

#name {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#works {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#hours {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

label {
  display: block;
  color: #666;
  margin: 5px 0.5px;
}

select {
  color: #333;
  padding: 10px;
  border-radius: 4px;
}

option {
  font-size: 16px;
  color: #344a72;
}

optgroup {
  font-size: 20px;
}

/* Header */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f4f4f4;
  width: 100%;
  color: #333;
  margin: auto;
  margin-bottom: 20px;
  padding: 1rem;
}

.container span {
  color: #344a72;
}

/* Form General */

form {
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
}

.formGeneral {
  margin-bottom: 20px;
}

.metricsM {
  margin-top: 20px;
}

.metricsE {
  margin-bottom: 20px;
}

/* Fieldset Styling */
fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin: 0 1px;
}

.works {
  grid-column: 1 / span 2;
}

.general {
  display: block;
}
.one {
  padding: 1rem;
}

.four {
  display: inline-block;
  width: 100%;
}

.notes {
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Footer */
footer p {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
}
