* {
    box-sizing: border-box;
}


.bg {
    background-color: #99ccff6c ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
  }

.at {
    padding: 200px;
}


p {
    width: 50%;
    float: left;
    text-align: justify;
    padding: 15px;
    
  }
  
#p1 {
  
    overflow: hidden;   
  }
  

#p2 {
    overflow: hidden;
  }
  
section {
    clear: left;
  }

footer {
    height: 300px;
    color: black;
}